/* Configuracions globales */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    list-style:none;
    text-decoration: none;
    color: black;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
    background-color: rgb(100, 197, 100);
    z-index: -6;
	max-height: 1000px;
}

/* .contenedor{
	height: 90%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "navegador navegador navegador"
						 "barra_izq contenido contenido"
						 "footer footer footer";
} */
/*Header para el mensaje de arriba*/
header{
    display: table;
    position: relative;
    text-align: center;
	width:100%;
	height:200px;
	background-color: aqua;
	margin:20px auto;
}

header p{
    display: table-cell;
    font-size: 40px;
    font-family: 'Caveat', cursive;
    vertical-align: middle;
	text-align: right;
}

/*Para los iconos de las redes sociales*/
.redes{
	position:absolute;
	width:42px;
	height:42px;
	border-radius:100%;
	}

img{
	position: relative;
	top: 50%;
    width:42px;
	height:42px;
    }
	
#icono1{
	right:170px;
	}
	
#icono2{
	right:120px;
	}
	
#icono3{
	right:71px;
	}

#icono4{ 
	right:19px;
}
/*Para la barra de navegacion*/
nav{
    position: relative;
}
/*Para el menu*/
nav a{
    font-family: 'Caveat', cursive;
    /* position: relative; */
    border-radius: 35px;
    text-align: center;
    font-size: 25px;
    height: 48px;
    background-color: #4791d0;
    margin:0 2px;
    z-index: 2;
}
.navegador{
	/* grid-area: navegador; */
    clear: both;
    margin: auto;
    height: 48px;
}

.navegador ul{
	display: flex;
}
.navegador > ul > li{
	flex-grow: 1;
}

.linkss > li  a{
    padding-top: 10px;
    display: block;
}
.linkss li ul {
    display:none;
    position:absolute;
    min-width:34.5%;
}

.linkss li:hover > ul {
    display:block;
}

.linkss li ul li {
    position:relative;
}
.submenu_ li{
	width: 282%;
}
.linkss li ul li ul {
	width: 34.5%;
	left: 100%;
    top:0px;
}

nav a:hover{
    color: #CE7D35;
    transition: all .3s;
    z-index: 10;
}


/*Para la parte del medio*/

section{
    position:relative;
    margin:10px auto;
    width:100%;
    height:453px; 
	max-height: 800px;
	z-index: -10;
}


/*Para la columna de skills*/
aside#izq{
	position:absolute;
	left:0;
	top:0;
	width:20%;
	height:453px;
	}
	

aside#izq ul li{
	background:#aaa;
	padding:15px;
	margin:2px 10px;
	list-style-position:inside;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
	
/*Para el articulo*/

article{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 453px;
    
}

/*Para el footer*/
footer{
    font-family: 'Caveat', cursive;
    line-height:70px;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin: 20px auto;
    background-color: gray;
    width: 100%;
    height: 70px;
	max-height: 70px;
}



/* Estilos resposivos */
@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}

}


/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}

}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}
	
}


/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}

}