/* Archivo css */
/* Configuraciones globales */
*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}

/* body */
body{
    background: rgb(99, 161, 99);
    color: #000;

}
/* contenedor del grid donde se ubica el html */
.contenedor{
    width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "navegador navegador navegador"
						 "barra contenido contenido"
						 "footer footer footer";
}


/* Diseño generico */
.contenedor > div,
.contenedor .header,
.contenedor .navegador,
.contenedor .contenido,
.contenedor .barra,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

/* header diseño */
.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}



/* Redes socailes iconos */

.redes{
    display: inline;
    width: 42px;
    height: 42px;
}

.redes img{
    border-radius: 100%;
    justify-content:right;
    width: 42px;
    height: 42px;
}

/* barra de navegacion diseño */
.contenedor .navegador{
    grid-area: navegador;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    background-color: rgb(174, 228, 205);

}

/* Display para que quede ocupando toda la parte de la pantalla */
.navegador ul{
    /* PAra que este ditribuido en toda la barra */
    display: flex;
}

.menu > li{
    position: relative;
    flex-grow:1; 
    text-align: center;
}

.menu > li  a{
    background-color: rgb(174, 228, 205);

    padding-top: 10px;
    display: block;
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:100%;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
    z-index: 10000;
    text-align: center;
}

.menu li ul li ul {
    right:-100%;
    top:0px;
}

nav a:hover{
    color: #CE7D35;
    transition: all .3s;
    z-index: 3;
}


/* Barra izquierda de skills */
.contenedor .barra {
    background: #fAA43D;
    display: flex;
    /* flex-direction: column;  */
    grid-area: barra;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}



.barra ul li{
    flex-grow: 1;
    height: 8vh;
    min-height: 5vh;
    font-size: 25px;
}

.barra img{
    width: 32px;
    height: 32px;
}

/* Contenido del aritucolo */
.contenedor .contenido {
    background:rgb(47, 231, 216);
    font-family: 'Roboto', sans-serif;
	grid-area: contenido;
}


/* Footer diseño */
.contenedor .footer {
    text-align: center;
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

/* Estilos responsivos */

/* Para tablet */



/* Para telefono moviles */
@media screen and (max-width: 1024px) {
    .contenedor{
        width: 90%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    
        grid-template-areas: "header header header"
                             "navegador navegador navegador"
                             "contenido contenido contenido"
                             "barra barra barra"
                             "footer footer footer";
    }

    .barra ul{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 0px;
        height: 3vh;
        flex-grow: 1;
        
    }
    
    .barra ul li{
        justify-content: center;
        display: inline-block;
        font-size: 0;
        margin: auto;
        padding: auto;
    }

 }